<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="no-js">
<head>
    <script>document.querySelector('html').classList.remove('no-js');</script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Tickets{% endblock %}</title>
    <link rel="icon" href="{{ asset('favicon.svg') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% block flashes %}
        {% for message in app.flashes('site_success') %}
            <p>
                <strong>{{ message }}</strong>
            </p>
        {% endfor %}
        {% for message in app.flashes('site_error') %}
            <p>
                <strong>{{ message }}</strong>
            </p>
        {% endfor %}
    {% endblock %}
    {{ knp_menu_render('app_site_menu', {
        'template': 'site/menu/template.html.twig',
        'currentClass': 'active',
        'ancestorClass': 'active open',
        'compressed': true
    }) }}
    {{ knp_menu_render('app_site_menu', {
        'template': 'site/menu/breadcrumb.html.twig',
        'compressed': true
    }) }}
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>
