{% extends 'admin/base.html.twig' %}

{% block body_attrs %} class="body-login"{% endblock %}

{% block body %}
    {% if error %}
        <app-toast duration="10000"
                   type="error"
                   dismissible
                   message="{{ error.messageKey|trans(error.messageData, 'security') }}">
        </app-toast>
    {% endif %}
    <div class="container">
        <section class="login-window">
            <h2 class="h2 login-window__title">Logowanie - Admin Panel</h2>
            {{ form_start(form, {'attr': {'class': 'login-window__form form-behavior'}}) }}
                <div class="login-window__field">
                    {{ form_widget(form.email, {'attr': {'outlined': 'outlined'}}) }}
                </div>
                <div class="login-window__field">
                    {{ form_widget(form.password, {'attr': {'outlined': 'outlined'}}) }}
                </div>
                <input type="hidden" name="_target_path" value="{{ path('app_admin_index') }}"/>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="login-window__button">
                    <mwc-button raised label="Zaloguj się" type="submit" wc-lazy></mwc-button>
                </div>
                {{ form_rest(form) }}
            {{ form_end(form) }}
        </section>
    </div>
{% endblock %}
