{% extends 'admin/layout.html.twig' %}

{% block content %}
    <section>
        <h3 class="h3 panel-title">Szczegóły zgłoszenia</h3>
        <table class="table table-striped table-hover">
            <tbody>
                <tr>
                    <th scope="row">Id</th>
                    <td>{{ ticket.id }}</td>
                </tr>
                <tr>
                    <th scope="row">Tytuł</th>
                    <td>{{ ticket.title }}</td>
                </tr>
                <tr>
                    <th scope="row">Slug</th>
                    <td>{{ ticket.slug }}</td>
                </tr>
                <tr>
                    <th scope="row">Temat</th>
                    <td>{{ ticket.topic.name }}</td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td>{{ ticket.email }}</td>
                </tr>
                <tr>
                    <th scope="row">Wiadomość</th>
                    <td>
                        {{ ticket.text|nl2br }}
                    </td>
                </tr>
                {% if ticket.filename is not null %}
                    <tr>
                        <th scope="row">Plik</th>
                        <td>
                            <a target="_blank" href="{{ asset('uploads/' ~ ticket.filename) }}">{{ ticket.filename }}</a>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </section>
{% endblock %}
